@model Powerdede.Models.StatsViewModel

@{
    ViewBag.Title = "Estadísticas";
}

<h2>Estadísticas</h2>

<p>Subidas último mes: @Model.LastMonthUpdates</p>
<p>Subidas última semana: @Model.LastWeekUpdates</p>
<p>Subidas último día: @Model.LastDayUpdates</p>

